.claude/

ignore/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock
#poetry.toml

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#   pdm recommends including project-wide configuration in pdm.toml, but excluding .pdm-python.
#   https://pdm-project.org/en/latest/usage/project/#working-with-version-control
#pdm.lock
#pdm.toml
.pdm-python
.pdm-build/

# pixi
#   Similar to Pipfile.lock, it is generally recommended to include pixi.lock in version control.
#pixi.lock
#   Pixi creates a virtual environment in the .pixi directory, just like venv module creates one
#   in the .venv directory. It is recommended not to include this directory in version control.
.pixi

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Redis
*.rdb
*.aof
*.pid

# RabbitMQ
mnesia/
rabbitmq/
rabbitmq-data/

# ActiveMQ
activemq-data/

# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Abstra
# Abstra is an AI-powered process automation framework.
# Ignore directories containing user credentials, local state, and settings.
# Learn more at https://abstra.io/docs
.abstra/

# Visual Studio Code
#  Visual Studio Code specific template is maintained in a separate VisualStudioCode.gitignore
#  that can be found at https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
#  and can be added to the global gitignore or merged into this file. However, if you prefer,
#  you could uncomment the following to ignore the entire vscode folder
# .vscode/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/

# Streamlit
.streamlit/secrets.toml
.DS_Store
merkle/1f5c9f39711752315485135358dc99e2_metadata.json
merkle/1f5c9f39711752315485135358dc99e2_snapshot.json
merkle/2fc25ac0e3e24c486b02bee05a1faac3_metadata.json
merkle/2fc25ac0e3e24c486b02bee05a1faac3_snapshot.json
merkle/04edc9dfba6b3b2c5c5f30749fcd0d35_metadata.json
merkle/04edc9dfba6b3b2c5c5f30749fcd0d35_snapshot.json
merkle/5dff53959aeae1b028cec9ddf066e8d8_metadata.json
merkle/5dff53959aeae1b028cec9ddf066e8d8_snapshot.json
merkle/6adc23d1bc959f288a663a937c4323d9_metadata.json
merkle/6adc23d1bc959f288a663a937c4323d9_snapshot.json
merkle/53cb582db394d8692b657d802389e029_metadata.json
merkle/53cb582db394d8692b657d802389e029_snapshot.json
merkle/7723b181d627af874cb60fe2e3c27471_metadata.json
merkle/7723b181d627af874cb60fe2e3c27471_snapshot.json
merkle/28045edc7f37b28fdd2b06d0b9b33450_metadata.json
merkle/28045edc7f37b28fdd2b06d0b9b33450_snapshot.json
merkle/746826c797d46e836479d227f68c8e65_metadata.json
merkle/746826c797d46e836479d227f68c8e65_snapshot.json
merkle/a9a2527a702add6f14014341dca778ae_metadata.json
merkle/a9a2527a702add6f14014341dca778ae_snapshot.json
merkle/ac2b1e579663ba7a47a6a3da0df65dde_metadata.json
merkle/ac2b1e579663ba7a47a6a3da0df65dde_snapshot.json
merkle/c11a453875a1b42cded5d9010b2544ea_metadata.json
merkle/c11a453875a1b42cded5d9010b2544ea_snapshot.json
merkle/c05062de4a9bdbc8621ae93739d4e1d8_metadata.json
merkle/c05062de4a9bdbc8621ae93739d4e1d8_snapshot.json
merkle/cb1687fa11b23506bbf1371db7df5484_metadata.json
merkle/cb1687fa11b23506bbf1371db7df5484_snapshot.json
merkle/d5b2ae384e4450e426ff6c1b73672321_metadata.json
merkle/d5b2ae384e4450e426ff6c1b73672321_snapshot.json
merkle/e0ca0d65d5ac887d117874be7823dfa5_metadata.json
merkle/e0ca0d65d5ac887d117874be7823dfa5_snapshot.json
merkle/f3c1fc902b90da0fdaa3d8c37aa4f000_metadata.json
merkle/f3c1fc902b90da0fdaa3d8c37aa4f000_snapshot.json
merkle/f486bbb896b0822517b15a414e75e37b_metadata.json
merkle/f486bbb896b0822517b15a414e75e37b_snapshot.json
merkle/snapshot_manager.py
merkle/
.gitignore
models/
models/.locks/models--google--embeddinggemma-300m/1a6193244714d3d78be48666cb02cdbfac62ad86.lock
models/.locks/models--google--embeddinggemma-300m/70ac42bce1699d89f19c011133cf97dfada83127.lock
models/.locks/models--google--embeddinggemma-300m/732de4b90bee82e9050fd5467c4aa5e9d088d004.lock
models/.locks/models--google--embeddinggemma-300m/1299c11d7cf632ef3b4e11937501358ada021bbdf7c47638d13c0ee982f2e79c.lock
models/.locks/models--google--embeddinggemma-300m/3552ab1b79dc8571d0ecf200db12e5208eda5bdd.lock
models/.locks/models--google--embeddinggemma-300m/6852f8d561078cc0cebe70ca03c5bfdd0d60a45f9d2e0e1e4cc05b68e9ec329e.lock
models/.locks/models--google--embeddinggemma-300m/33786d29ae85b05bc37772cd10876d66afbe905e.lock
models/.locks/models--google--embeddinggemma-300m/aca32ef8dacddfbe15dc12c0427a9153d5c2b0f4.lock
models/.locks/models--google--embeddinggemma-300m/b37b06424c6e0c0e880b24f3e313ebd85b601dcc.lock
models/.locks/models--google--embeddinggemma-300m/bb84d064c9b5cb7ab468a6c56b00717181eab744.lock
models/.locks/models--google--embeddinggemma-300m/bb668a9a3aacb3090f2f8e73f870f556569f9066.lock
models/.locks/models--google--embeddinggemma-300m/be375637bcca11d03dbf71bf83914fd48e8c55ee.lock
models/.locks/models--google--embeddinggemma-300m/c327f2acb00149676ade24a75e11eb6ebbd367f9ee050267ba56829d2979f702.lock
models/.locks/models--google--embeddinggemma-300m/cbf5a78393b6a033e0b8a63a57549964f7ed5c6fbeb4ba0694214f36123f2fd2.lock
models/.locks/models--google--embeddinggemma-300m/e17bde03d42feda32d1abfca6d3b598b9a020df7.lock
models/.locks/models--google--embeddinggemma-300m/ffb6cc5162e11e2ce6bc2367e121ee3bbbc4e82e1ee26826bd7573d4948d81b8.lock
models/models--google--embeddinggemma-300m/.no_exist/57c266a740f537b4dc058e1b0cda161fd15afa75/adapter_config.json
models/models--google--embeddinggemma-300m/.no_exist/57c266a740f537b4dc058e1b0cda161fd15afa75/chat_template.jinja
models/models--google--embeddinggemma-300m/blobs/1a6193244714d3d78be48666cb02cdbfac62ad86
models/models--google--embeddinggemma-300m/blobs/70ac42bce1699d89f19c011133cf97dfada83127
models/models--google--embeddinggemma-300m/blobs/732de4b90bee82e9050fd5467c4aa5e9d088d004
models/models--google--embeddinggemma-300m/blobs/1299c11d7cf632ef3b4e11937501358ada021bbdf7c47638d13c0ee982f2e79c
models/models--google--embeddinggemma-300m/blobs/3552ab1b79dc8571d0ecf200db12e5208eda5bdd
models/models--google--embeddinggemma-300m/blobs/6852f8d561078cc0cebe70ca03c5bfdd0d60a45f9d2e0e1e4cc05b68e9ec329e
models/models--google--embeddinggemma-300m/blobs/33786d29ae85b05bc37772cd10876d66afbe905e
models/models--google--embeddinggemma-300m/blobs/aca32ef8dacddfbe15dc12c0427a9153d5c2b0f4
models/models--google--embeddinggemma-300m/blobs/b37b06424c6e0c0e880b24f3e313ebd85b601dcc
models/models--google--embeddinggemma-300m/blobs/bb84d064c9b5cb7ab468a6c56b00717181eab744
models/models--google--embeddinggemma-300m/blobs/bb668a9a3aacb3090f2f8e73f870f556569f9066
models/models--google--embeddinggemma-300m/blobs/be375637bcca11d03dbf71bf83914fd48e8c55ee
models/models--google--embeddinggemma-300m/blobs/c327f2acb00149676ade24a75e11eb6ebbd367f9ee050267ba56829d2979f702
models/models--google--embeddinggemma-300m/blobs/cbf5a78393b6a033e0b8a63a57549964f7ed5c6fbeb4ba0694214f36123f2fd2
models/models--google--embeddinggemma-300m/blobs/e17bde03d42feda32d1abfca6d3b598b9a020df7
models/models--google--embeddinggemma-300m/blobs/ffb6cc5162e11e2ce6bc2367e121ee3bbbc4e82e1ee26826bd7573d4948d81b8
models/models--google--embeddinggemma-300m/refs/main
models/models--google--embeddinggemma-300m/snapshots/57c266a740f537b4dc058e1b0cda161fd15afa75/added_tokens.json
models/models--google--embeddinggemma-300m/snapshots/57c266a740f537b4dc058e1b0cda161fd15afa75/config_sentence_transformers.json
models/models--google--embeddinggemma-300m/snapshots/57c266a740f537b4dc058e1b0cda161fd15afa75/config.json
models/models--google--embeddinggemma-300m/snapshots/57c266a740f537b4dc058e1b0cda161fd15afa75/model.safetensors
models/models--google--embeddinggemma-300m/snapshots/57c266a740f537b4dc058e1b0cda161fd15afa75/modules.json
models/models--google--embeddinggemma-300m/snapshots/57c266a740f537b4dc058e1b0cda161fd15afa75/README.md
models/models--google--embeddinggemma-300m/snapshots/57c266a740f537b4dc058e1b0cda161fd15afa75/sentence_bert_config.json
models/models--google--embeddinggemma-300m/snapshots/57c266a740f537b4dc058e1b0cda161fd15afa75/special_tokens_map.json
models/models--google--embeddinggemma-300m/snapshots/57c266a740f537b4dc058e1b0cda161fd15afa75/tokenizer_config.json
models/models--google--embeddinggemma-300m/snapshots/57c266a740f537b4dc058e1b0cda161fd15afa75/tokenizer.json
models/models--google--embeddinggemma-300m/snapshots/57c266a740f537b4dc058e1b0cda161fd15afa75/tokenizer.model
models/models--google--embeddinggemma-300m/snapshots/57c266a740f537b4dc058e1b0cda161fd15afa75/1_Pooling/config.json
models/models--google--embeddinggemma-300m/snapshots/57c266a740f537b4dc058e1b0cda161fd15afa75/2_Dense/config.json
models/models--google--embeddinggemma-300m/snapshots/57c266a740f537b4dc058e1b0cda161fd15afa75/2_Dense/model.safetensors
models/models--google--embeddinggemma-300m/snapshots/57c266a740f537b4dc058e1b0cda161fd15afa75/3_Dense/config.json
models/models--google--embeddinggemma-300m/snapshots/57c266a740f537b4dc058e1b0cda161fd15afa75/3_Dense/model.safetensors
merkle/snapshot_manager.py
